* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", "sans-serif", "satisfy";
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  background-color: white;
}

.h1-titulo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  padding: 15px;
  color: #cf4520;
  font-family: "Comfortaa", sans-serif;
}

.logo {
  width: 80px;
  height: auto;
  margin: 40px;
}

.off-canva-navbar {
  display: flex;
  text-align: center;
  margin-left: auto;
}
.off-canva-navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.off-canva-navbar li {
  display: inline-block;
}
.off-canva-navbar li a {
  display: inline-block;
  margin: 5px;
  color: #cf4520;
  font-size: 25px;
  font-family: howardthin;
  transition: 1s;
  border-radius: 45px;
  padding: 10px;
}
.off-canva-navbar li a:hover {
  color: #cf4520;
  background-color: #cf4520;
  color: white;
  padding: 10px;
}

.navbar-toggler {
  background-color: #cf4520;
}
.navbar-toggler-icon {
  background-color: #cf4520;
}

.offcanvas-title {
  color: #cf4520;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
  color: white;
}

#social {
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin: 20px 0 0 0;
}

#social a {
  color: #cf4520;
  transition: all 200ms ease-in;
}
#social a:hover {
  color: #ffc1c1;
}

.derechos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  width: 100%;
  height: 9px;
  background-color: rgba(255, 207, 51, 0.5647058824);
}

.border2 {
  width: 100%;
  height: 9px;
  background-color: rgba(63, 140, 255, 0.5921568627);
}

.hero {
  max-height: 100%;
  padding: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
  color: #cf4520;
}

.hero_content {
  font-family: "Comfortaa", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.hero a {
  padding: 10px 20px;
  text-decoration: none;
  color: #cf4520;
  border-radius: 20px;
  transition: 1s;
  font-family: howardthin;
  font-size: 20px;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
  background-color: #eb6505;
}
.hero a:hover {
  background-color: #f78867;
  color: #ffffff;
}

.hero h2 {
  font-size: 70px;
  font-style: oblique;
  font-family: howardthin;
  letter-spacing: 7px;
  transition: 1s;
  text-align: center;
}
.hero h2:hover {
  letter-spacing: 10px;
}

.hero p {
  letter-spacing: 2px;
}

.hero_media {
  width: 50%;
  position: relative;
  transition: 1s;
  padding: 10px;
  margin: -20px;
}

.hero_media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero2 {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2%;
}

.hero2info {
  text-align: center;
}

.hero2info h2 {
  font-size: 65px;
  font-family: "Comfortaa", sans-serif;
  padding-bottom: 0;
  color: #cf4520;
}

.i1 {
  transition: 1s;
  filter: saturate(30%);
}
.i1:hover {
  filter: saturate(120%);
}

.video-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  margin: 5%;
}

.video-container-div {
  width: 50%;
  border-radius: 20%;
  overflow: hidden;
  top: 0;
}

.videoindex {
  height: 100%;
  object-fit: cover;
}

.botoncito a {
  padding: 10px 20px;
  text-decoration: none;
  color: #cf4520;
  border-radius: 20px;
  transition: 1s;
  font-family: howardthin;
  font-size: 20px;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
  background-color: #eb6505;
}
.botoncito a:hover {
  background-color: #f78867;
  color: #ffffff;
}

.quiensoy-p {
  text-align: center;
  color: rgb(204, 103, 8);
  padding: 30px;
  font-size: 20px;
  padding: 2% 7% 5% 7%;
  font-weight: 500;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}

.quien-galeria-fotos {
  width: 100%;
  height: 100%;
  transition: 4s;
  transition: transform 0.3s ease-in-out;
  border: 2px solid #031c2d;
}
.quien-galeria-fotos:hover {
  transform: scale(1.1);
}

.quiensoy-fotitos {
  max-width: 300px;
  justify-content: center;
  padding-left: 60px;
}

.quince-p {
  text-align: center;
  color: #cf4520;
  padding: 30px;
  font-size: 20px;
  padding: 2% 7%;
  text-align: center;
}

.quince-videos {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 7% 0;
}
.quince-videos .video-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -10px;
}
.quince-videos iframe {
  margin: 10px;
}

.spotify-iframes {
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin-bottom: 20px;
}

.spotify-iframes {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.contact-form {
  width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(233, 145, 14);
}
.form-group textarea {
  height: 120px;
  color: black;
}
.form-group input[type=submit] {
  color: #cf4520;
  cursor: pointer;
}
.form-group input[type=submit]:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.4784313725);
}

.form-text {
  color: #cf4520;
}

@media screen and (max-width: 768px) {
  .offcanvas.offcanvas-end {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .off-canva-navbar ul {
    flex-direction: column;
    text-align: justify;
    justify-content: left;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 60px;
    height: 60px;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vh;
  }
  .hero.content {
    width: 90%;
  }
  .hero p {
    align-items: center;
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .off-canva-navbar li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .hero h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .hero p {
    align-items: center;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .hero a, .botoncito a {
    padding: 5px 20px;
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .h1-titulo, .hero2info h2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 480px) {
  .h1-titulo, .hero2info h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .hero2info p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
    width: 50%;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .video-container {
    height: 30vh;
  }
}
@media screen and (max-width: 768px) {
  video.index {
    width: 100px;
    height: 30%;
    object-fit: cover;
  }
  .video-container-div {
    width: 20%;
    border-radius: 20%;
    overflow: hidden;
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .spotify-iframes {
    flex-direction: column;
    text-align: justify;
    justify-content: left;
  }
}
@media screen and (max-width: 768px) {
  .quiensoy-p {
    font-size: small;
  }
}
@media screen and (max-width: 480px) {
  .quiensoy-p {
    font-size: x-small;
  }
}
@media screen and (max-width: 768px) {
  .quince-p {
    font-size: x-small;
  }
}
@media screen and (max-width: 480px) {
  .quince-p {
    font-size: xx-small;
  }
}
@media (max-width: 768px) {
  .quince-videos {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10%;
  }
  .quince-videos .video-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -10px;
  }
  .quince-videos iframe {
    margin: 10px;
  }
}
@media (max-width: 768px) {
  .quince-videos .video-row iframe {
    width: 100%;
    height: auto;
    border: solid black 2px;
  }
}
@media screen and (max-width: 768px) {
  .seguirviaje {
    font-size: medium;
  }
}
@media screen and (max-width: 480px) {
  .seguirviaje {
    font-size: small;
  }
}
@media screen and (max-width: 480px) {
  .button-container {
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
}
@media screen and (max-width: 768px) {
  .btn.btn-success {
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    padding: 7px 12px;
    margin: 3px;
    text-decoration: none;
    color: #cf4520;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .btn.btn-success {
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 2px;
    text-decoration: none;
    color: #cf4520;
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .contact-form {
    width: 200px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
