// reset head//


*{
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", "sans-serif","satisfy"; 
    font-weight: 400;
    font-style: normal;
}   

a {
    text-decoration: none;
}

main{
    background-image: linear-gradient(to bottom, #ffffff, #f3e096ab);
}
